@model CheckoutProgressModel
@using Nop.Web.Models.Checkout;
@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    @*if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }*@
}
<div class="order-progress">
    <ul>
        @Html.Widget("checkout_progress_before")
        @* The extended check is needed, because a completed step needs to have "active-step" class for the new design.*@
        @{
            
            var cartClass = "active-step";
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Cart)
            {
                cartClass = "current-step";
            }
        }
        <li class="@cartClass"><a @(Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("ShoppingCart"))) : null)><span>1</span> @T("Checkout.Progress.Cart")</a>
        </li>
        @{
            var addressClass = "inactive-step";
            if(Model.CheckoutProgressStep == CheckoutProgressStep.Address)
            {
                addressClass = "current-step";
            }
            if(Model.CheckoutProgressStep == CheckoutProgressStep.Shipping || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete)
            {
                addressClass = "active-step";
            }
        }
        <li class="@addressClass"><a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("CheckoutBillingAddress"))) : null)><span>2</span> @T("Checkout.Progress.Address")</a>
        </li>
        @{
            var shippingClass = "inactive-step";
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Shipping)
            {
                shippingClass = "current-step";
            }
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete)
            {
                shippingClass = "active-step";
            }
        }
        <li class="@shippingClass"><a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("CheckoutShippingMethod"))) : null)><span>3</span> @T("Checkout.Progress.Shipping")</a>
        </li>
        @{
            var paymentClass = "inactive-step";
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Payment)
            {
                paymentClass = "current-step";
            }
            if ( Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete)
            {
                paymentClass = "active-step";
            }
        }
        <li class="@paymentClass"><a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("CheckoutPaymentMethod"))) : null)><span>4</span> @T("Checkout.Progress.Payment")</a>
        </li>
        @{
            var confirmClass = "inactive-step";
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Confirm)
            {
                confirmClass = "current-step";
            }
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Complete)
            {
                confirmClass = "active-step";
            }
        }
        <li class="@confirmClass"><a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Payment && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("CheckoutConfirm"))) : null)><span>5</span> @T("Checkout.Progress.Confirm")</a>
        </li>
        @{
            var completeClass = "inactive-step";
            if (Model.CheckoutProgressStep == CheckoutProgressStep.Complete)
            {
                completeClass = "current-step";
            }
        }
        <li class="@completeClass"><a><span>6</span> @T("Checkout.Progress.Complete")</a>
        </li>
        @Html.Widget("checkout_progress_after")
    </ul>
</div>
